/* App styles */

.App {
  text-align: center;
  box-sizing: border-box;
  width: 100vw;
}

.App-header {
  background-color: #5d535e;
  height: 50px;
  padding: 10px;
  color: white;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

/* Map styles */

.container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

.spots-filter {
    background-color: #bbc0cf;
}