/* App styles */
body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
  text-align: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.App-header {
  background-color: #5d535e;
  height: 50px;
  padding: 10px;
  color: white;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

/* Map styles */


.container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

.spots-filter {
    background-color: #F7F7F7;
}

.map-container {
    height: 100vh;
    width: 80vw;
}

/* Filter styles */

.input-space {
    padding: 5px;
    margin: 10px auto;
    width: 80%;
    border-radius: 2px;
}

.spot-list {
    list-style-type: none;
    text-align: left;
    line-height: 1.5;
}
