/* App styles */
body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
  text-align: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-family: 'Hind', sans-serif;
}

.App-header {
  background-color: #5d535e;
  height: 50px;
  padding: 10px 0;
  color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
  font-family: 'Allerta Stencil', sans-serif;
}

/* Map styles */


.container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.spots-filter {
    background-color: #F7F7F7;
    width: 20vw;
}

.map-container {
    width: 80vw;
    box-sizing: border-box;
}

/* Filter styles */

.input-space {
    padding: 5px;
    margin: 10px auto;
    width: 80%;
    border-radius: 2px;
}

.spot-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    text-align: left;
    line-height: 1.5;
}

.spot-list li:focus {
  outline: none;
  font-weight: bold;
}

/* Info box */

.info-place {
    border: 2px solid #8D7E8F;
    border-radius: 5px;
    width: 85%;
    margin: auto;
    min-height: 80px;
    background-color: #FFF;
}

/* Media Queries */

@media screen and (max-width: 900px) {
    .map-container {
        width: 70vw;
    }
    
    .spots-filter {
        width: 30vw;
    }
}

@media screen and (max-width: 570px) {
    .map-container {
        width: 50vw;
    }
    
    .spots-filter {
        width: 50vw;
    }
}